
 $yellow:#ddda2e;
 $red:#822109;
 $green: #1f2b0c;
 $black:  #050505;

@mixin margenes($top,$bottom){ 
    margin-top: $top;
    margin-bottom: $bottom;
    
}

@mixin otrosMargenes($top,$right,$bottom,$left){ 
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}  

// @mixin colores ($yellow,$red,$green) {
   
// }
    



.jumbotron{
    background-color: $yellow;
    color: $black;
    @include margenes(50px ,0px);
}

footer{
    @include otrosMargenes(10px, 10px, 10px , 0px );
    //padding: 10px 10px 10px;
    background-color:$yellow;
    @include margenes(10px ,0px);
}

.card-juegos{
    flex: 1 200px;
    @include margenes(10px ,0px);

}

.btn-compra{
    width: 100%;
    border-radius: 0px;
    @include margenes(0px ,5px);
   // margin-bottom: 5px;
}

.footer-address-icon{
   padding-right: 10px; 
}

.tab-content{
    @include otrosMargenes(10px, 0px, 0px , 0px );
    //padding-top: 10px;
}