.jumbotron {
  background-color: #ddda2e;
  color: #050505;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  background-color: #ddda2e;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-juegos {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-compra {
  width: 100%;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 5px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
